body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #0e1823;
}
ul {
  list-style-type: none;
}
.menu {
  font-size: 9px;
  /* line-height: 12px; */
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
h1 {
  font-weight: 500;
  font-size: 80px;
  /* line-height: 80px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.hero p {
  font-weight: 300;
  font-size: 16px;
  /* line-height: 22px; */
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}
.hero button {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 20px; */
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
}
.preferences h2 {
  font-weight: 500;
  font-size: 48px;
  /* line-height: 48px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}
.preferences-tech {
  font-size: 23px;
  /* line-height: 23px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}
.preferences-text {
  font-size: 13px;
  /* line-height: 15px; */
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #040306;
}
.models h2 {
  font-weight: 500;
  font-size: 48px;
  /* line-height: 48px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.models h3 {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 19px; */
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}
.models p {
  font-size: 13px;
  /* line-height: 15px; */
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
}
.models .parametrs {
  font-size: 14px;
  /* line-height: 17px; */
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
}
.models .value {
  font-size: 14px;
  /* line-height: 17px; */
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}
.models {
  background-color: #fbfbfb;
}
.models button {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 20px; */
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.preference .number {
  font-weight: 500;
  font-size: 32px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}
.preference .line {
  background: rgba(251, 251, 251, 0.1);
}
.preference .text {
  font-size: 13px;
  /* line-height: 15px; */
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.order h2 {
  font-weight: 500;
  font-size: 48px;
  /* line-height: 48px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.reviews h2 {
  font-weight: 500;
  font-size: 48px;
  /* line-height: 48px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.reviews .text {
  font-size: 14px;
  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.reviews h3 {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 20px; */
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}
.reviews ul p {
  font-size: 16px;
  /* line-height: 22px; */
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
.reviews ul {
  background-color: #fbfbfb;
}
footer p {
  font-size: 32px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  background-color: #1b414b;
}

footer .police {
  font-size: 14px;
  /* line-height: 17px; */
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}
