*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #0e1823;
  margin: 0;
}
/* container */

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
/* header-mobile */
.page-header-menu,
.page-header-social {
  display: none;
}
.wrapper-page-header-position {
  position: relative;
}
.wrapper-page-header {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  width: 335px;
}

.page-logo {
  display: block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding-top: 12px;
  padding-bottom: 12px;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  padding-top: 7px;
  padding-bottom: 7px;
}
.burger-icon {
  display: block;
  stroke: #1b414b;
}
.page-header-menu-link {
  color: #fbfbfb;
  background-color: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  border: none;
  padding: 15px 25px;
  width: 91px;
  display: block;
}

/* header-tablet */
@media screen and (min-width: 768px) {
  .wrapper-page-header {
    padding: 4px 28px;
    height: 48px;
    top: 32px;
    width: 704px;
  }
  .burger-btn {
    display: none;
  }
  .page-logo {
    font-size: 20px;
  }
  .page-header-menu {
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    gap: 4px;
  }
  .page-header-menu-link {
    color: #fbfbfb;
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    border: none;
    padding: 15px 25px;
    width: 91px;
    display: block;
  }
  .page-header-menu-link:active,
  .page-header-menu-link:focus {
    background-color: #1b414b;
  }
  .page-header-social-link:active .icon,
  .page-header-social-link:focus .icon {
    fill: #062730;
  }
  .page-header-social {
    display: flex;
    gap: 8px;
  }
  .page-header-social-list {
    padding: 2px;
  }
  .page-header-social-list .icon {
    display: block;
    fill: #1b414b;
  }
  .page-header-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* header-desctop-1280 */
@media screen and (min-width: 1280px) {
  .wrapper-page-header-position {
    padding-left: 100px;
    padding-right: 100px;
  }
  .wrapper-page-header {
    padding: 4px 30px;
    width: 1080px;
  }
  .page-header-menu-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header-menu-link:hover,
  .page-header-menu-link:focus {
    background-color: #1b414b;
  }
  .page-header-social-link:hover .icon,
  .page-header-social-link:focus .icon {
    fill: #062730;
  }
}
/* header-desctop-1440 */
@media screen and (min-width: 1440px) {
  .wrapper-page-header {
    width: 1240px;
  }
}

/* mobile-menu */
.mobile-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e1823;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%); /* сховане */
  transition: transform 500ms ease-in-out;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0); /* показати */
}

.mobile-menu-container {
  position: relative;
  padding-top: 259px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.mobile-menu-logo-btn {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  width: 335px;
}
.burger-close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
}
.burger-close-btn-icon {
  display: block;
  fill: #055545;
}
.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: auto;
}
.mobile-menu-nav-link {
  background-color: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  border: none;
  padding: 15px 25px;
  width: 91px;
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.green-link {
  background-color: #1b414b;
}
/* hero-mobile */
.page-hero {
  padding-bottom: 302px;
  padding-top: 260px;
  background-color: #0e1823;
  background-image: linear-gradient(
      180deg,
      rgba(17, 19, 31, 0.1) 15%,
      rgba(17, 19, 31, 0.3) 80%,
      rgba(17, 19, 31, 0.8) 98%
    ),
    url(../images/Background_m.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
}
@media screen and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 19, 31, 0.1) 15%,
        rgba(17, 19, 31, 0.3) 80%,
        rgba(17, 19, 31, 0.8) 98%
      ),
      url(../images/Background_m@2x.jpg);
  }
}
.page-hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}
.page-hero-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 117%;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}
.page-hero-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
  padding: 14px 32px;
  border-radius: 15px;
  border: none;
  margin: 0 auto;
  display: block;
}
.page-hero-button:active,
.page-hero-button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

/* hero-tablet */
@media screen and (min-width: 768px) {
  .page-hero {
    padding-bottom: 282px;
    padding-top: 280px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 19, 31, 0.1) 15%,
        rgba(17, 19, 31, 0.3) 80%,
        rgba(17, 19, 31, 0.8) 98%
      ),
      url(../images/Background_t.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .page-hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 19, 31, 0.1) 15%,
          rgba(17, 19, 31, 0.3) 80%,
          rgba(17, 19, 31, 0.8) 98%
        ),
        url(../images/Background_t@2x.jpg);
    }
  }
  .page-hero-title {
    font-size: 70px;
  }
  .page-hero-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 48px;
  }
  .page-hero-button {
    font-size: 18px;
    line-height: 110%;
    padding: 16px 40px;
  }
}
/* hero-desctop-1280 */
@media screen and (min-width: 1280px) {
  .page-hero {
    padding-bottom: 215px;
    padding-top: 235px;
    background-image: linear-gradient(
        360deg,
        180deg,
        rgba(17, 19, 31, 0.1) 15%,
        rgba(17, 19, 31, 0.3) 80%,
        rgba(17, 19, 31, 0.8) 98%
      ),
      url(../images/Background_1280.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .page-hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 19, 31, 0.1) 15%,
          rgba(17, 19, 31, 0.3) 80%,
          rgba(17, 19, 31, 0.8) 98%
        ),
        url(../images/Background_1280@2x.jpg);
    }
  }
  .page-hero-title {
    font-size: 80px;
    margin-bottom: 24px;
    width: 1001px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-hero-text {
    max-width: 597px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-hero-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-hero-button:hover,
  .page-hero-button:focus {
    color: #1b414b;
    background-color: #fbfbfb;
  }
}
/* hero-desctop-1440 */
@media screen and (min-width: 1440px) {
  .page-hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 1) 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(../images/Background_1440.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .page-hero {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 1) 15.05%,
          rgba(17, 19, 31, 0.39) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url(../images/Background_1440@2x.jpg);
    }
  }
}

/* preferences-mobile */
.page-preferences {
  height: 705px;
}
.page-preferences-wrap {
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 40px 20px 40px 20px;
  width: 335px;
  height: 675px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 753px;
  z-index: 1;
}
.page-preferences-title {
  font-weight: 500;
  font-size: 28px;
  /* line-height: 48px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 40px;
}
.page-preferences-technology {
  font-size: 18px;
  /* line-height: 23px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}

.page-preferences-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}
.page-preferences-picture img {
  display: block;
  width: 335px;
  height: 395px;
  border-radius: 24px;
  z-index: 2;
  position: absolute;
  top: 1133px;
}
/* preferences-tablet */
@media screen and (min-width: 768px) {
  .page-preferences {
    height: 880px;
  }
  .page-preferences-wrap {
    width: 704px;
    padding: 50px 32px;
    top: 895px;
  }
  .page-preferences-title {
    font-size: 48px;
    max-width: 536px;
    margin-bottom: 50px;
  }
  .page-preferences-wrap-text {
    max-width: 389px;
  }
  .page-preferences-technology {
    font-size: 23px;
  }
  .page-preferences-text {
    font-size: 13px;
  }
  .page-preferences-picture img {
    top: 1376px;
    width: 704px;
    height: 470px;
  }
}

/* preferences-desctop-1280 */
@media screen and (min-width: 1280px) {
  .page-preferences {
    height: 794px;
  }

  .page-preferences-wrap {
    width: 1180px;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    top: 765px;
  }
  .page-preferences-picture img {
    top: 1125px;
    width: 1180px;
  }
  .page-preferences-title {
    max-width: 537px;
  }
  .page-preferences-wrap-text {
    max-width: 354px;
  }
}
/* preferences-desctop-1440 */
@media screen and (min-width: 1440px) {
  .page-preferences {
    height: 770px;
  }
  .page-preferences-wrap {
    width: 1340px;
  }
  .page-preferences-picture img {
    top: 1102px;
    width: 1340px;
  }
  .page-preferences-wrap-text {
    max-width: 404px;
  }
}
/* models-mobile */
.page-models {
  padding: 80px 0;
}
.page-models-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto 40px auto;
  max-width: 319px;
}
.page-models-wrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 40px;
  flex-wrap: nowrap;
  overflow-x: auto; /* Добавьте горизонтальный скролл, если не используете JS */
  scroll-behavior: smooth; /* Плавная прокрутка */
  scroll-snap-type: x mandatory;
}
.page-models-yacht-card {
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 16px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%; /* Каждый слайд занимает 100% ширины контейнера */
  width: 100%; /* Задает ширину */
  scroll-snap-align: start;
}

.page-models-yacht-card-photo img {
  display: block;
  border-radius: 24px;
  width: 100%;
  margin-bottom: 32px;
}
.page-models-yacht-container {
  padding: 0 32px 0 32px;
}
.page-models-yacht-card-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.page-models-yacht-card-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.page-models-yacht-card-clas {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}
.page-models-yacht-card-line {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  height: 1px;
  background-color: rgba(4, 3, 6, 0.1);
}
.page-models-yacht-card-characteristics {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.page-models-yacht-card-parametrs {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.page-models-yacht-card-value {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.page-models-yacht-card-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(251, 251, 251, 0.35);
  background-color: transparent;
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
}
.page-models-yacht-card-button:active,
.page-models-yacht-card-button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}
/* models-tabet */
@media screen and (min-width: 768px) {
  .page-models {
    padding: 150px 0;
  }
  .page-models-wrap {
    margin-bottom: 50px;
  }
  .page-models-yacht-card {
    flex: 0 0 336px; /* Каждый слайд занимает 100% ширины контейнера */
    width: calc((100% - 32px) / 2);
  }
  .page-models-title {
    font-size: 48px;
    margin: 0 auto 75px auto;
    max-width: 645px;
  }
  .page-models-yacht-card-title {
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap; /* текст в один рядок */
    overflow: hidden; /* приховуємо зайве */
    text-overflow: ellipsis;
  }

  .page-models-yacht-card-clas {
    font-size: 13px;
    line-height: 1.18;
    white-space: nowrap;
  }
  .page-models-yacht-container {
    padding: 0 16px 0 16px;
  }
  .page-models-yacht-card-button {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
  }
}
/* models-desctop-1280 */
@media screen and (min-width: 1280px) {
  .carousel-container {
    overflow: visible;
  }
  .page-models-wrap {
    display: flex; /* Меняем flexbox на блочное расположение (убираем горизонтальный ряд) */
    overflow-x: visible; /* Убираем горизонтальную прокрутку */
    scroll-snap-type: none; /* Убираем привязку прокрутки */
    gap: 25px;
  }
  .page-models-yacht-card {
    flex-shrink: 1; /* Разрешаем элементам сжиматься/растягиваться */
    flex-basis: auto; /* Возвращаем стандартное поведение ширины */
    scroll-snap-align: none; /* Убираем привязку */
    width: calc((100% - 64px) / 3);
  }
  .page-models-yacht-card-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-models-yacht-card-button:hover,
  .page-models-yacht-card-button:focus {
    color: #1b414b;
    background-color: #fbfbfb;
  }
  .page-models-yacht-card-photo img {
    transition: transform 350ms ease;
  }

  .page-models-yacht-card-photo img:hover {
    transform: scale(1.05);
  }
}
/* models-desctop-1440 */
@media screen and (min-width: 1440px) {
  .page-models {
    padding: 150px 50px;
  }
  .page-models-wrap {
    gap: 32px;
  }
}
/* services-mobile */
.page-services {
  padding-bottom: 80px;
}
.page-services-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.page-services-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  padding: 80px 20px;
  background-color: #1b414b;
  border-radius: 24px;
}
.page-services-list-block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.page-services-list-number {
  font-weight: 500;
  font-size: 28px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}
.page-services-list-line {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 18px;
  background: rgba(251, 251, 251, 0.1);
}
.page-services-list-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
}
.page-services-photo img {
  border-radius: 24px;
}
/* services-tablet */
@media screen and (min-width: 768px) {
  .page-services {
    padding-bottom: 150px;
  }
  .page-services-wrapper {
    gap: 32px;
  }
  .page-services-list {
    column-gap: 32px;
    row-gap: 44px;
    padding: 90px 32px;
  }
  .page-services-list-block {
    width: calc((100% - 32px) / 2);
  }
  .page-services-list-number {
    font-size: 32px;
  }
  .page-services-list-text {
    font-size: 13px;
    line-height: 1.15;
  }
}
/* services-desctop-1280 */
@media screen and (min-width: 1280px) {
  .page-services-wrapper {
    flex-wrap: nowrap;
  }
  .page-services-list {
    gap: 32px;
    padding: 90px 50px;
  }
  .page-services-photo img {
    width: 432px;
    height: 424px;
  }
}
/* services-desctop-1440 */
@media screen and (min-width: 1440px) {
  .page-services-photo img {
    width: 540px;
    height: 424px;
  }
}

/* order-mobile */
.page-order-wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.page-order-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}
.modal-form-field {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.modal-form-field input,
.modal-form-field textarea {
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px;
  color: #fbfbfb;
}
.form-input {
  outline: transparent;
  width: 100%;
  height: 42px;
  font-size: 12px;
  line-height: 117%;
}
.modal-form-field input::placeholder,
.modal-form-field textarea::placeholder {
  color: rgba(251, 251, 251, 0.4);
}
.form-input:hover,
.form-input:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
  outline: none;
}
.form-textarea {
  height: 108px;
  resize: none;
  margin-bottom: 22px;
}
.form-textarea:hover,
.form-textarea:focus {
  outline: none;
  border: 1px solid rgba(251, 251, 251, 0.5);
}
.page-order-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
  padding: 14px 44px;
  border-radius: 15px;
  border: none;
  display: block;
  height: 46px;
  max-width: 122px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-order-button:hover,
.page-order-button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}
.page-order-photo img {
  border-radius: 24px;
}
/* order-tablet */
@media screen and (min-width: 768px) {
  .page-order-wrap {
    gap: 100px;
  }
  .page-order-form {
    width: 472px;
    margin: 0 auto;
  }
  .page-order-title {
    font-size: 48px;
    margin-bottom: 32px;
  }
  .modal-form-field input,
  .modal-form-field textarea {
    padding: 18px;
  }
  .form-input {
    height: 54px;
    font-size: 14px;
    line-height: 129%;
  }

  .form-textarea {
    height: 116px;
    margin-bottom: 32px;
  }
  .page-order-button {
    font-size: 18px;
    line-height: 1.1;
    padding: 18px 75px;
    height: 56px;
    min-width: 194px;
  }
}
/* header-desctop-1280 */
@media screen and (min-width: 1280px) {
  .page-order-wrap {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
  }
}
/* reviews-mobile */
.page-reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}
.page-reviews-wrap-title {
  display: block;
  margin-bottom: 40px;
}

.page-reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
}
.page-reviews-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
}
.carousel-container {
  width: 100%; /* Или задайте необходимую ширину */
  overflow: hidden; /* Скрывает элементы, выходящие за пределы контейнера */
  position: relative;
}
.page-reviews-cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: nowrap;
  overflow-x: auto; /* Добавьте горизонтальный скролл, если не используете JS */
  scroll-behavior: smooth; /* Плавная прокрутка */
  scroll-snap-type: x mandatory;
}
.page-reviews-card {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 32px 8px;
  flex: 0 0 100%; /* Каждый слайд занимает 100% ширины контейнера */
  width: 100%; /* Задает ширину */
  scroll-snap-align: start;
}

.page-reviews-photo {
  display: block;
  border-radius: 72px;
  width: 56px;
  height: 56px;
}

.page-reviews-cards-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}
.page-reviews-cards-text {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
/* reviews-tabet */
@media screen and (min-width: 768px) {
  .page-reviews {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .page-reviews-wrap-title {
    margin-bottom: 75px;
  }
  .page-reviews-title {
    font-size: 48px;
  }
  .page-reviews-text {
    font-size: 14px;
    line-height: 1.129;
    max-width: 570px;
    margin: 0 auto;
  }
  .page-reviews-card {
    flex: 0 0 335px; /* Каждый слайд занимает 100% ширины контейнера */
  }
}
/* reviews-desctop-1280 */
@media screen and (min-width: 1280px) {
  .page-reviews-title {
    max-width: 855px;
    margin: 0 auto 25px auto;
  }
  .carousel-container {
    overflow: visible;
  }
  .page-reviews-cards {
    display: flex; /* Меняем flexbox на блочное расположение (убираем горизонтальный ряд) */
    overflow-x: visible; /* Убираем горизонтальную прокрутку */
    scroll-snap-type: none; /* Убираем привязку прокрутки */
  }
  .page-reviews-card {
    flex-shrink: 1; /* Разрешаем элементам сжиматься/растягиваться */
    flex-basis: auto; /* Возвращаем стандартное поведение ширины */
    scroll-snap-align: none; /* Убираем привязку */
  }
}
/* reviews-desctop-1440 */
@media screen and (min-width: 1440px) {
  .page-reviews {
    padding-left: 50px;
    padding-right: 50px;
  }
}
/* footer-mobile */
.footer-dopcontainer {
  max-width: 375px;
  padding: 0 10px;
  margin: 0 auto;
}
.page-footer {
  background-color: #1b414b;
  border-radius: 24px 24px 0 0;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.wrapper-page-footer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
.footer-page-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  margin-right: 37px;
}
.page-footer-menu {
  text-align: center;
  align-items: start;
  display: flex;
  gap: 4px;
}
.page-footer-menu-btn {
  display: block;
  text-align: center;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fbfbfb;
  background-color: rgba(251, 251, 251, 0.3);
  width: 66px;
  border-radius: 8px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-footer-menu-btn:active,
.page-footer-menu-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}
.page-footer-social {
  display: flex;
  gap: 8px;
}
.page-footer-social-list {
  padding: 2px;
}
.page-footer-social-list .icon {
  display: block;
  fill: #fbfbfb;
}
.page-footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.page-footer-social-link:active .icon,
.page-footer-social-link:focus .icon {
  fill: rgba(251, 251, 251, 0.8);
}
.page-footer-text {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 279px;
  margin: 0 auto;
  margin-bottom: 82px;
}

.page-footer-police {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* footer-tablet */
@media screen and (min-width: 768px) {
  .footer-dopcontainer {
    max-width: 768px;
    padding: 0 16px;
  }
  .page-footer {
    padding-top: 50px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .footer-page-logo {
    font-size: 20px;
  }
  .page-footer-menu-btn {
    width: 91px;
  }
  .page-footer-text {
    font-size: 32px;
    max-width: 575px;
    margin-bottom: 99px;
  }

  .page-footer-police {
    font-size: 14px;
    line-height: 1.18;
    gap: 32px;
  }
  .wrapper-page-footer {
    justify-content: space-between;
    margin-bottom: 96px;
  }
}
/* footer-desctop-1280 */
@media screen and (min-width: 1280px) {
  .footer-dopcontainer {
    max-width: 1280px;
    padding: 0 25px;
  }
  .page-footer {
    padding-left: 75px;
    padding-right: 75px;
  }
  .page-footer-text {
    max-width: 630px;
  }
  .page-footer-menu-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-footer-menu-btn:hover,
  .page-footer-menu-btn:focus {
    background: #fbfbfb;
    color: #1b414b;
  }

  .page-footer-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-footer-social-link:hover .icon,
  .page-footer-social-link:focus .icon {
    fill: rgba(251, 251, 251, 0.8);
  }
}
/* header-desctop-1440 */
@media screen and (min-width: 1440px) {
  .footer-dopcontainer {
    max-width: 1440px;
    padding: 0 25px;
  }
}
